# Common build directories used in the source tree
/*build*
/*.build*
/**_build*
/*/*-build*
/out
brlcad/*build*

# CMake in-source build artifacts (when build dir == repo root)
/CMakeCache.txt
/CMakeFiles/
/CMakeTmp/
/CPackConfig.cmake
/CPackProperties.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/DartConfiguration.tcl
/Makefile
/BRLCAD_CPackOptions.cmake
/brlcadexec.cmake
/cmake_install.cmake
/cmakefiles.cmake
/distclean.cmake
/toplevel_DOCFILES.sentinel
/.qt/
/bin/
/lib/
/libexec/
/include/
/libdata/
/man/
/misc/
/regress/
/sh/
/share/
/doc/
/db/
/bench/
/src/

# Temporary files
*~
\#*\#
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# OS specific files
.DS_Store
.DS_Store?

# CMake supports some configuration files to allow users a convenient way to pre-define
# sets of configuration options:
# https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html
/CMakeUserPresets.json
/brlcad/CMakeUserPresets.json

# Visual Studio (note that CMakePresets.json is recommended instead of
# CMakeSettings.json for Visual Studio going forward)
# https://learn.microsoft.com/en-us/cpp/build/cmake-presets-vs
# https://learn.microsoft.com/en-us/cpp/build/customize-cmake-settings
/.vs
.vscode
/CMakeSettings.json

#Qt Creator
CMakeLists.txt.user

# Misc
.clang-format


bsg_view_obj_tmp.g
bsg_qparity_cache/
ged_test_bsg_quad_parity-*.log
moss_bsg_quad_tmp.g
*.bomb.log

# ged_test_qged_swrast test artifacts
moss_qgswrast_tmp.g
qgswrast_cache/
